
.Margin{
    margin: 75% 0;
    padding: 0;
}

@font-face {
    font-family: 'lulo font';
    src: url(../Assets/Fonts/LuloCleanW01OneBold.ttf);
}
@font-face {
    font-family: 'small thin font';
    src: url(../Assets/Fonts/FontsFree-Net-Avenir-Light.ttf);
}
#skillsAnchor{
    transition: all 13s ease-in;
}
.Home__Background{
    background-color: #000000;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    #Home__Background__Image1{
        position: relative;
        background-image: url(../Assets/images/Backgound1-min.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
    #Home__Background__Image2{
        position: relative;
        background-image: url(../Assets/images/Backgound2-min.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        z-index: 0;
    }
    .Home__Background__Text{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2f2e2eab;
        color: #ffffff;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div{
            h1{
                width: 100%;
                font-family: 'lulo font';
                text-align: left;
                text-transform: uppercase;
    
                font-size: 3rem;
                font-weight: 700;
                padding: 0;
                span{
                    color: #00d646;
                    position: relative;
                    margin: 0;
                    
                }    
            }
            h2{
                font-family: 'small thin font';
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 400;
                width: 60%;
    
                margin: 0;
                padding: 0;
            }
        }   
       
       
    }
 
}

.Home__About{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background-color: #333b50;
    color: #ffffff;
    padding: 0;
    margin: 0;
    z-index: 1;

    img{
        width: 50px;
        height: 50px;
    }
    h1{
        font-family: 'lulo font';
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    p{
        font-family: 'small thin font';
        font-size: 1rem;
        font-weight: 400;

        margin: 0;
        padding: 0 100px;
    }
    .Home__About__Text__Button{


        text-decoration: none;
        color: #ffffff;
        font-family: 'small thin font';
        font-size: 1rem;
        font-weight: 400;
        margin: 30px 0; 
        padding: 0;
        width: 100%;
        background-color: #00d646;
        border: none;
        border-radius: 5px;
        height: 50px;
        width: 200px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #00d646;
            color: #ffffff;
            text-shadow: 0 0 10px #ebfff2;
            transform: scale(1.1);
        }
        
    }
}

.Home__Skills{

    



}



@media screen and (max-width: 768px) {
    .Home__Background{
        .Home__Background__Text{
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1{
    
                    font-size: 2.4rem;
                    text-align: center;
                }
                h2{
                    font-size: 1.5rem;
                    width: 80%;
                    align-self: center;
                    justify-self: center;

                    text-align: center;

                }
            }
        }
    }

    .Home__About{
        width: 80%;
        height: 60%;
        h1{
            font-size: 1.5rem;

        }
        p{
            padding: 0 10px;
        }
    }
   
    
}
